<?php
$this->layout = 'admin';
?>
<h1>Kateqoriyalar</h1>


<?php foreach ($channels as $channel): ?>

    <?php echo $channel['Channel']['id']; ?> ) - 
    <?php echo $channel['Channel']['name']; ?> <br/>
    
    <?php if(!empty($channel['ChildChannels'])): ?>
        <?php foreach ($channel['ChildChannels'] as $childchannel): ?>

        <?php echo $channel['Channel']['id']."-".$childchannel['id']; ?> - 
        <?php echo $childchannel['name']; ?> <br/>

        <?php endforeach; ?>
        <?php endif; ?>
        <br/><br/>
<?php endforeach; 

//pr($channels)
?>
<?php unset($channels); ?>