@import url(http://fonts.googleapis.com/css?family=Dosis:400,600&subset=latin-ext);
@import url(http://fonts.googleapis.com/css?family=Istok+Web:400,700&subset=latin,latin-ext);


* {
	margin: 0px;
	outline: none;
}

body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Verdana, Geneva, sans-serif;
	background-image: url('../img/bgnoise.png');
	text-align: center;
	width: 100%;
        line-height: 1;
	font-family: 'Istok Web', sans-serif;
        font-style: normal;
        font-weight: 400;
}

a, a:visited {
	color: #26aee5;
	text-decoration: none;
}

.clearer {
	clear: both;
}

html {
	overflow-y: scroll;
}

#content {
	margin: auto;
	width: 960px;
	padding-bottom: 72px;
}

#xett {
	width: 100%;
        left:0;
	border-bottom: 2px solid #D1E751;
	padding-top: 58px;   
        z-index: 99999;
        display: none;
}

#header {
	width: 960px;
        height: 60px;
        margin:auto;
        margin-bottom: 50px ;
}

#logo {
	float: left;
	height: 60px;
	overflow: hidden;
}

#logo img {
	height: 60px;
}

#headerright {
	float: right;
}

#search {
	margin: 0;
	border: 0px;
	background-image: url('../img/icons/search.png');
	background-repeat: no-repeat;
	background-position: center;
}

#searchbox {
	float: right;
	height: 20px;
	color: #828282;
	border: 2px solid #d1e751;
	padding: 5px 0 5px 0;
	margin-right: -4px;
	font-size: 13px;
	outline: none;
	border-radius: 0 0 0 5px;
	width: 0;
	border-top-width: 1px;
        display:none;
}

#searchdiv {
	float: right;
}

#headerright a {
	padding: 5px 15px 5px 15px;
	text-decoration: none;
	float: right;
	margin-top: 34px;
	margin-left: 3px;
	color: #828282;
	font-size: 16px;
	font-family: 'Dosis', sans-serif;
        font-style: normal;
        font-weight: 400;
        margin-bottom: 0px;
}

#headerright a:hover {
	background-color: #d1e751;
	color: #ffffff;
	border-radius: 2px 2px 0 0;
}

#menu {
	width: 960px;
	height: 23px;
	display: block;
	clear: both;
	font-family: 'Dosis', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
}

.menuitemnormal, .menuitemnormal:visited {
	text-decoration: none;
	color: #828282;
	padding-left: 15px;
	padding-right: 15px;
	outline: none;
	float: left;
	height: 30px;
	background-color: transparent;
	line-height: 35px;
	border-radius: 0 0 2px 2px;
}

.menuitemnormal:hover {
	border: 1px solid #dedede;
	color: #525252;
	border-top: 0px solid #d1e751;
	border-radius: 0 0 3px 3px;
	outline: none;
	padding-left: 14px;
	padding-right: 14px;
}

.menuright {
	width: 35px;
	height: 33px;
	background-color: #d1e751;
	float: right;
	margin-left: 3px;
	cursor: pointer;
	border-radius: 0 0 3px 3px;
}

#writeus {
	background-image: url('../img/icons/writeus.png');
	background-repeat: no-repeat;
	background-position: center;
}

#rss {
	background-image: url('../img/icons/rss.png');
	background-repeat: no-repeat;
	background-position: center;
}

#body {
	margin-top: 50px;
	width: 960px;
	text-align: left;
}

#left {
	float: left;
	width: 200px;
	clear: both;
}

#vertmenu {
	width: 198px;
	border-left: 2px solid #d1e751;
	color: #828282;
	overflow: hidden;
}

#vertmenuheader {
	line-height: 30px;
	height: 30px;
	font-size: 16px;
	padding: 2px 0 2px 15px;
	border: 1px solid #dedede;
	border-radius: 0 4px 4px 0;
	border-left: 5px solid #d1e751;
	font-size: 18px;
	background-color: #ffffff;
	text-align: left;
	color: #fff;
	background-image: url('../img/header_bg.png');
	font-family: 'Istok Web', sans-serif;
}

#vertmenu ul {
	list-style-type: none;
	font-size: 17px;
	padding: 5px 0 0px 0px;
	margin: 0;
}

#vertmenu ul li {
	padding: 0px;
	display: block;
	width: 277px;
	border-left: 0px solid #d1e751;
	cursor: pointer;
	text-align: left;
        height: 25px;
        line-height: 25px;
        overflow: visible;
}

#vertmenu ul li a, #vertmenu ul li a:visited {
	text-decoration: none;
	color: #828282;
	display: block;
	width: 282px;
	padding: 2px 0 2px 30px;
	font-size: 14px;
	outline: none;
}

#vertmenu ul li a:hover, #vertmenu ul li a:active {
	color: #626262;
	outline: none;
}

#right {
	width: 750px;
	float: right;
}

.rightheader, .paginator {
	width: 730px;
	height: 30px;
	line-height: 30px;
	float: left;
	padding: 2px 0 2px 15px;
	border: 1px solid #dedede;
	border-radius: 0 4px 4px 0;
	border-left: 5px solid #d1e751;
	font-size: 18px;
	background-color: #ffffff;
	margin: 0 0 20px 0px;
	color: #fff;
	background-image: url(../img/header_bg.png);
	font-family: Istok Web, Helvetica, Verdana, Sans-Serif;
}

.rightheader a {
	float: right;
	font-size: 14px;
	line-height: 30px;
	text-decoration: none;
	/*color: #26aee5;*/
	color: #fff;
	margin: 0px;
	margin-right: 3px;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.rightheader a:hover {
	background-color: rgba(0,0,0, 0.2);
}

.pagenumbers {
	float: right;
	padding-right: 20px;
}

.pagenumbers * {
	float: left;
	font-size: 14px;
	line-height: 25px;
	margin-left: 6px;
}

.pagenumbers a {
	color: #26aee5;
	text-decoration: none;
}

.lightgradient {
}

.homepagemainrightheader {
	background-image: url('../img/header_bg.png');
	padding: 11px 10px 11px 15px;
	color: #fff;
	width: 253px;
	float: left;
	font-family: Istok Web, Helvetica, Verdana, Sans-Serif;
}

#pagemainright{
    float: left;
    border:2px solid #333;
    background-color: #aaa;
    width:273px;
    height: 372px;
    border-radius: 0 10px 10px 0; 
    border-left:2px solid #d1e751  ;
}

.smallepisodeitem {
	border-left: 2px solid #26aee5;
	width: 275px;
	height: 50px;
	float: left;
	overflow: hidden;
        background-color: #fff;
}

.smallepisodeitem span {
	height: 50px;
	width: 30px;
	text-align: center;
	line-height: 50px;
	background-color: #d1e751;
	color: #fff;
	float: left;
	margin-right: 4px;
	font-family: Disos, Helvetica, Verdana, Sans-Serif;
}

.smallepisodeitem a {
	font-family: 'Istok Web', sans-serif;
        line-height: 26px;
}

.episodeitem {
	width: 355px;
	height: 102px;
	margin-left: 20px;
	margin-bottom: 20px;
	float: left;
	background-color: #fff;
	border-radius: 0 4px 4px 0;
}

.episodeitem:hover {
	background-color: #fcfcfc;
}

.ethumb {
	width: 128px;
	height: 100px;
	float: left;
	border-left: 2px solid #26aee5;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	position: relative;
}

.ethumb .estats {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 3px;
	line-height: 16px;
	overflow: hidden;
	background-color: rgba(0,0,0, 0.5);
	color: #fff;
	font-size: 12px;
	font-style: italic;
        width: 123px;
        text-align: center;
}

.eside {
	float: left;
	width: 223px;
	border: 1px solid #dddddd;
	height: 100px;
	border-radius: 0 4px 4px 0;
}

.esideinfo {
	width: 217px;
	height: 85px;
	overflow: hidden;
	float: left;
}

.etitle {
	margin: 0;
	margin-top: 2px;
	width: 212px;
	padding-left: 5px;
	font-family: Istok Web;
}

.etitle a {
	font-size: 15px;
	text-decoration: none;
	color: #26aee5;
}

.echannels {
	font-size: 10px;
	padding-left: 15px;
	width: 203px;
	margin-top: 5px;
	color: #828282;
}

.einfo {
	font-size: 10px;
	padding-left: 15px;
	width: 203px;
	color: #828282;
	margin-top: 5px;
}

.eustad {
	font-size: 10px;
	color: #828282;
	padding-left: 5px;
}

.efooter {
	width: 210px;
	margin-right: 3px;
	float: right;
	vertical-align: bottom;
}

.ustadlink, .channellink {
	font-size: 13px;
	text-decoration: none;
	color: #D1D751;
}

.etimedate {
	margin-top: 3px;
	font-size: 10px;
	text-decoration: none;
	color: #626262;
	float: right;
}

.ustaditem {
	float: left;
	width: 200px;
	border: 1px solid black;
	margin-left: 35px;
	margin-right: 10px;
	margin-bottom: 15px;
	text-align: center;
	background-color: #ffffff;
	border: 1px solid #dedede;
	border-radius: 0 0 8px 8px;
	border-top: 2px solid #26aee5;
	padding-bottom: 2px;
}

.uimg {
	width: 200px;
	height: 150px;
	margin: auto;
	border-bottom: 1px solid #dedede;
}

.uname:hover, .uname:visited, .uname:active, .uname {
	text-decoration: none;
	color: #26aee5;
	width: 200px;
	display: block;
	padding: 5px 0 5px 0;
	font-size: 16px;
	font-family: Istok Web;
}

.upro {
	color: #828282;
	font-size: 11px;
	word-break: break-all;
	display: block;
	height: 25px;
	overflow: hidden;
}

.urate {
	color: #828282;
	font-size: 12px;
}

.contentheader {
	width: 100%;
	line-height: 25px;
	font-size: 16px;
	padding: 2px 0 2px 0px;
	border: 1px solid #dedede;
	border-radius: 0 4px 4px 0;
	border-left: 5px solid #d1e751;
	font-size: 18px;
	background-color: #ffffff;
	background-image: url('../img/header_bg.png');
	margin: 10px 0 10px 0px;
	color: #f1f1f1;
	float: left;
	font-family: Istok Web, Helvetica, Verdana, Sans-Serif;
}

.contentheader a {
	color: #fff;
}

.cheader {
	width: 350px;
	padding: 5px;
	border: 1px solid #dedede;
	border-radius: 0 0 8px 8px;
	background-color: #ffffff;
	border-top: 2px solid #26aee5;
	color: #dedede;
	float: left;
	position: relative;
	text-align: left;
	margin-top: 10px;
	margin-left: 22px;
	border-top: 0px;
	padding: 0px;
	padding-bottom: 5px;
}

.cname {
	padding: 5px;
	background-color: #26aee5;
	color: #ffffff;
	margin-bottom: 5px;
	text-align: left;
}

.altc {
	padding-left: 10px;
	color: #828282;
	text-decoration: none;
	text-align: left;
	width: 340px;
	display: block;
	padding-top: 3px;
	padding-bottom: 3px;
	cursor: pointer;
}

.altc:hover {
	background-color: #f0f0f0;
}

#footer {
	border-top: 2px solid #d1e751;
	clear: both;
	background-image: url('../img/footerbg.png');
	background-repeat: repeat-x;
	height: 70px;
	width: 100%;
	margin-top: -70px;
}

#socialbuttons {
	float: left;
	width: 150px;
	line-height: 9px;
	padding-top: 10px;
	height: 90px;
}

#episodewrapper {
	width: 960px;
	border-top: 2px solid #26aee5;
}

#video {
	background-color: #f0f0f0;
	float: left;
	width: 640px;
	height: 360px;
	margin-bottom: 20px;
}

#listepisodes {
	float: left;
	width: 640px;
	margin-top: 20px;
}

#listepisodes a {
	font-size: 13px;
	display: block;
	width: 625px;
	background-color: #fff;
	text-decoration: none;
	color: #26aee5;
	line-height: 16px;
	padding: 3px 0 2px 15px;
}

#listepisodes a:hover {
	background-color: #f0f0f0;
}

#episodeustad {
	width: 300px;
	float: right;
	border: 1px solid #dedede;
	border-top: 0px;
	border-radius: 0 0 5px 5px;
	background-color: #fefefe;
}

#episodeustad img {
	width: 152px;
	height: 114px;
	float: left;
}

#episodeustadname {
	width: 138px;
	background-color: #26aee5;
	float: right;
	color: #fff;
	padding: 10px 5px 10px 5px;
	font-family: Istok Web, Helvetica, Verdana, Sans-Serif;
	font-size: 18px;
}

#episodeustadprofession {
	width: 138px;
	float: right;
	color: #26aee5;
	padding: 5px 0 5px 10px;
	font-family: Istok Web, Helvetica, Verdana, Sans-Serif;
	font-size: 16px;
}

#episodeustadinfo {
	float: left;
	font-size: 12px;
	padding: 10px;
}

#tags {
	float: right;
	width: 300px;
	margin-top: 20px;
	clear: right;
}

/** Forms **/
form:not(:ignoredefault) {
	clear: both;
	margin-right: 20px;
	padding: 0;
	width: 95%;
}
fieldset {
	border: none;
	margin-bottom: 1em;
	padding: 16px 10px;
}
fieldset legend {
	color: #e32;
	font-size: 160%;
	font-weight: bold;
}
fieldset fieldset {
	margin-top: 0;
	padding: 10px 0 0;
}
fieldset fieldset legend {
	font-size: 120%;
	font-weight: normal;
}
fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
form div {
	clear: both;
	margin-bottom: 1em;
	padding: .5em;
	vertical-align: text-top;
}
form .input {
	color: #444;
}
form .required {
	font-weight: bold;
}
form .required label:after {
	color: #e32;
	content: '*';
	display: inline;
}
form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
}
label {
	display: block;
	font-size: 110%;
	margin-bottom: 3px;
}
input:not(.ignoredefault), textarea {
	clear: both;
	/*font-size: 140%;*/
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	padding: 1%;
	width: 98%;
}
select {
	clear: both;
	font-size: 120%;
	vertical-align: text-bottom;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	font-size: 120%;
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
div.checkbox label {
	display: inline;
}
input[type=radio] {
	float: left;
	width: auto;
	margin: 6px 0;
	padding: 0;
	line-height: 26px;
}
.radio label {
	margin: 0 0 6px 20px;
	line-height: 26px;
}
input[type=submit]:not(.ignoredefault) {
display: inline;
font-size: 110%;
width: auto;
}
form .submit input[type=submit] {
	background: #62af56;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
	background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
	border-color: #2d6324;
	color: #fff;
	text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px;
	padding: 8px 10px;
}
form .submit input[type=submit]:hover {
	background: #5BA150;
}
/* Form errors */
form .error {
	background: #FFDACC;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-weight: normal;
}
form .error-message {
	-moz-border-radius: none;
	-webkit-border-radius: none;
	border-radius: none;
	border: none;
	background: none;
	margin: 0;
	padding-left: 4px;
	padding-right: 0;
}
form .error, form .error-message {
	color: #9E2424;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}

#left2 {
	float: left;
	width: 745px;
        color: #aaa; 
}

#right2 {
	float: right;
	width: 202px;
	margin-top: 10px;
}

#right2 .ustaditem {
	margin: 0px;
}

#programwrapper {
	width: 730px;
	clear: both;
}

#ustadwrapper {
	width: 740px;
	position: relative;
	padding: 0 20px 0 10px;
}

#ustadprofileimg {
	width: 200px;
	height: 150px;
	border-radius: 5px 0 0px 5px;
	float: left;
}

#ustadprofilename {
	float: right;
	width: 520px;
	height: 40px;
	font-size: 20px;
	line-height: 40px;
	padding-left: 20px;
	color: #fff;
	background-image: url('../img/header_bg.png');
	border-radius: 0 5px 0px 0;
	font-family: Istok Web, Helvetica, Verdana, Sans-Serif;
}

#ustadprofilepro a {
	float: right;
	width: 515px;
	height: 30px;
	font-size: 15px;
	line-height: 30px;
	padding-left: 25px;
	color: #fff;
	background-color: rgba(0,0,0, 0.3);
	border-radius: 0 0px 0px 0;
	font-family: Istok Web, Helvetica, Verdana, Sans-Serif;
	font-size: 18px;
}

#ustadprofileportfolio {
	background-color: #fff;
	border: 1px solid #dedede;
	float: right;
	width: 539px;
	border-left: 0px;
	border-top: 0px;
	border-radius: 0 0 5px 0;
	height: 79px;
}

.portfoliosection {
	display: block;
	border-right: 1px solid #dedede;
	width: 179px;
	height: 79px;
	float: left;
	text-align: center;
}

.count {
	width: 178px;
	height: 60px;
	font-size: 40px;
	line-height: 80px;
	color: #333;
	color: #26aee5;
}

.countname {
	width: 178px;
	font-size: 15px;
}

.socialnetwork {
	width: 35px;
	height: 33px;
	background-color: #d1e751;
	float: right;
	margin-left: 3px;
	cursor: pointer;
	border-radius: 0 0 3px 3px;
	background-repeat: none;
	background-size: cover;
}

#twitter {
	background-color: #2daae2;
	background-image: url('../img/twitter.png');
}

#facebook {
	background-image: url('../img/fb.png');
}

#google {
	background-image: url('../img/gplusicon.png');
}

.footermail {
	float: right;
	clear: right;
	color: #fff;
	padding: 5px 8px 5px 8px;
	background-color: #D1E751;
	text-align: center;
	border-radius: 3px;
	margin-top: 4px;
	font-size: 12px;
	width: 95px;
}

.footermail a {
	color: #fff;
}

#copyright {
	clear: none;
	float: left;
	color: #444;
	margin-top: 6px;
	margin-left: 15px;
}

.footeritem {
	float: left;
	padding: 7px;
	margin-top: 5px;
	margin-left: 8px;
	border-radius: 5px;
}

.footeritem:hover {
	background-image: url('../img/header_bg.png');
	color: #fff;
}

#footerlogo {
	background-image: url('../img/MinBirSoft.png');
	background-size: cover;
	width: 60px;
	height: 15px;
	display: block;
	margin: 4px 0 0 5px;
	padding-top: 4px;
}

.carousel-caption a.slidertitle {
	color: #FFF;
	font-size: 20px;
	font-family: Istok Web, Helvetica, Verdana, Sans-Serif;
}

.carousel-caption .sliderwatch {
	color: #d1e751;
	text-decoration: underline;
}

#my_carousel_ct {
	margin-bottom: 20px;
}

#share {
	float: left;
	width: 640px;
}

#share div {
	float: left;
	margin-right: 15px;
	background-color: #d1e751;
	padding: 5px;
	border-radius: 3px;
}

#paylasmaq {
	background-image: url('../img/header_bg.png');
}

#episodelike {
	background-image: url('../img/like_star.png');
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 32px;
	border-radius: 3px;
	border: none;
}

#episodelike.hasnotliked {
	background-color: #FF7F50;
	color: #FFF;
}

#episodelike.hasliked {
	background-color: #d1e751;
	color: #fff;
}

.errormessage {
	background-color:#fee;
    border: 1px solid red;
    padding: 15px;
    margin: 5px;
    clear:both;
    color: #555;
    text-align: center;
}
