<?php
$this->layout = 'admin';
echo $this->Html->script('jquery-1.8.3.min');
echo $this->Html->script('jquery.uploadify.min');
echo $this->Html->script('uploadifyscript');
echo $this->Html->css('uploadify');
?>


<?php $timestamp = time(); ?>
<script type="text/javascript">
    $(document).ready(function() {
        var timestamp = '<?php echo $timestamp; ?>';
        var token = '<?php echo md5('ustadtv_salt' . $timestamp); ?>';
        uploadifyIt('video_upload', 'AdversitementVideo', 'Video seç', 'ads', timestamp, token , '*.mp4', 'ad');
    });
</script>

<h1>Reklama düzəliş et</h1>
<?php
echo $this->Form->create('Adversitement', array('type' => 'file'));
echo $this->Form->input('title');
echo $this->Form->input('note', array('rows' => '2'));
echo $this->Form->input('video');

//echo $this->Form->input('Channel',  array(
//    'multiple' => 'checkbox'    
//));
?>

<!--
Videonun yüklənilməsi:
<input type="file" name="video_upload" id="video_upload" />-->

<?php
echo $this->Form->end('Yadda saxla');
?>
