<h1>Kateqoriyalar</h1>


<?php foreach ($channels as $channel): ?>

    <?php echo $channel['Channel']['id']; ?> 
    <?php echo $channel['Channel']['name']; ?> <br/>

<?php endforeach; ?>
<?php unset($post); ?>

    <h1>Son 3 video</h1>
    
<?php

pr($testdata);

?>